.mud-container {
    padding: 0 !important;
    max-width: 100% !important;
    margin: 0 !important;
}

.mud-main-content {
    padding-top: 64px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
}